[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true, extras = ["db"]}
"discord.py" = {ref = "8d3b2d0b7094d924b1f1640c1ef75c40cfe180b2", git = "https://github.com/Rapptz/discord.py", editable = true}

[dev-packages]
flake8 = "*"
mypy = ">=0.610"
pytest = ">=3.6.1"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"

[requires]
python_version = "3.7"

[scripts]
test = "py.test"
