[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true, extras = ["db"]}
"discord.py" = {ref = "c9d20e5ccb3997a07bf511fc4e48fe106d297670", git = "https://github.com/bryanforbes/discord.py", editable = true, extras = ["typings"]}

[dev-packages]
flake8 = "*"
mypy = ">=0.610"
pytest = ">=3.6.1"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"

[requires]
python_version = "3.7"

[scripts]
test = "py.test"
